
.navbar {
  /* background: linear-gradient(45deg, #c6a0ef, #c4a2e9); */
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: static;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.navbar-title:hover {
  color: #bbdefb; /* Lighter hover effect */
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  text-transform: none;
}

.navbar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-button:focus {
  outline: none;
}
